#enter{

 background-image:url("picure/photo-1602080858428-57174f9431cf.jpeg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .login-page{
     width: 360px;
     padding: 10% 0 0;
     margin: auto;
}
.form{
    position:relative ;
    background  :rgba(66, 163, 219, 0.8);
    max-width: 360px;
    z-index: 1;
    margin:0  auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family: "Roboto",sans-serif;
    background: #f2f2f2;
    width: 100%;
    outline: 1;
    border: 0;
    margin:  0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Roboto",sans-serif; 
    text-transform: uppercase;
    outline: 0;
    background: #09e098;
    width: 100%;
    padding: 8%;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button :active{
    background:powderblue ;
}
.form.message{
    margin: 15px 0 0;
    color:aliceblue;
    font-size: 12px;

}
.form.message.login{
    color: #4caf50;
    text-decoration: none;
}
.form.register-form{
    display: none;
}
/* #back{
    background-color: aqua;
} */
h2{
    text-align: center;
    padding: 10%;
    font-size: 100px;
}